.cart-item-container{
    list-style: none;
}

.cart-list-container{
    background-color: rgb(1, 1, 1);
    color:aliceblue;
    padding: 1%;
    position: fixed;
    right: 10px;
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 50%;
}

.hide-cart{
    display: none;
}

.cart-icon{
    color: white;
    font-size: 1.5rem;
    padding: 1%;
    border-bottom-left-radius: 20px;
    position:fixed;
    top:0;
    right: 0;
}

.cart-icon-oncart{
    margin-bottom: 20%;
    border-radius: 50px;
    background-color: black;
    padding: 1%;
}
.cartItem-count{
    background-color: rgb(233, 154, 9);
    color: rgb(8, 9, 9);
    border-radius: 50px;
    font-size: 1rem;
    padding: 1rem 0.6rem 1rem 0.6rem;
    position: absolute;
    font-weight: bold;
}

.cart-icon-container{
    margin-top: -3rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.cart-icon:hover{
    border-radius: 50px;
}

.cart-item-count-in-cart-container{
    background-color: rgb(233, 154, 9);
    color: rgb(26, 25, 25);
    border-radius: 50px;
    font-size: 1rem;
    height: 2rem;
    margin-top: 1rem;
    margin-right: 3rem;
    padding: 1rem .5rem 0px .5rem;
    font-weight: bold;
}
.subtotal-amount{
    color:rgb(233, 154, 9);
    font-size: 1.8rem;
    font-weight: bold;
}

.gitlab-button {
    background-color: black;
    padding: 1rem 1rem 1rem 0rem;
    color: aliceblue;
    border-bottom-right-radius: 2rem;
    font-size: 2rem;
    position: fixed;
    left: 0;
}

.git-labicon{
    margin-left: 0.5rem;
}

.checkout-section{
    color:aliceblue;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    padding-left: 1%;
    padding-right: 10%;
    justify-content: space-between;
    font-size: 1.2rem;
}

.checkout-button{
    color: aliceblue;
    margin-bottom: 5%;
    align-self: center;
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: large;
}

.checkout{
    position: fixed;
    bottom: 0;
    right: 2%;
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 22%;
    display: flex;
    flex-direction: column;
    border-top:1px solid gray;
}