.filter-header-container{
    display: flex;
    font-size: 2rem;
}

.bg-filter-container{
    position: absolute;
    top:5rem;
    left:5rem;
}

.fliter-header{
    font-size: 1.2rem;
    margin-left: 1rem;
    font-weight: bold;
}

.buttons{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 10rem;
    border-radius: 50px;
    margin-top: 15%;
    font-size: 0.8rem;
    font-weight: bold;
    color: aliceblue;
}




@media (max-width:776px) {
    .bg-filter-container{
        margin-left: 5%;
    }
    .filter-header{
      display: none;
    }

    .buttons-container{
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
    }
    .buttons{
        background-color:gray;
        padding: 1% 3% 1% 3%;
        color:white;
        border-radius: 50px;
    }
}