.product-image{
    width: 10rem;
    height: 10rem;
    margin-bottom: 5%;
}

.product-container{
    height: 21rem;
    width: 17rem;
    margin-top: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2%;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
}

.product-container:hover{
    transform: translateX(2px);
    box-shadow: 2px 2px gray;
}

.product-title{
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 1rem;
}

.add-to-cart{
    background-color: rgb(4, 4, 4);
    color:#ffffff;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
}

.product-container:hover > .add-to-cart {
    transform: translatey(+5%);
    background-color: rgb(233, 154, 9);
  }

.price-header{
    font-size: 1.2rem;
    font-weight: bold;
}

.price-span{
    font-size: 0.8rem;
    font-weight: 400;
}

@media (max-width:776px) {
    .product-image{
        width: 10rem;
        height: 10rem;
    }
    
    .product-container{
        width: 100%;
        margin: 2%;
    }
}