.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: absolute;
    top:4rem;
    left:30rem;
    width: 60%;
    padding-bottom: 5rem;
}

.home-container{
    display: flex;
    justify-content: space-around;
}

@media (max-width:776px) {
    .products-container{
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }
    
}


@media (max-width:968px) {
    .products-container{
        width: 110%
    }
    
    .home-container{
        flex-direction: column;
    }
}