.cartItemImage{
    width: 4rem;
    height:4rem;
    margin-right: 5%;
}

.cart-item{
    background-color: rgb(22, 20, 20);
    padding: 7% 5%;
    margin-bottom: 0.5%;
    display: flex;
    position: relative;
    border-radius: 3px;

}

.quantity{
    color:gray;
}

.item-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.item-price{
    position: absolute;
    right: 5.5%;
    top:2rem;
    color: rgb(230, 163, 5);
}

.add-more{
    position: absolute;
    right: 5%;
    top:4rem;
    color: rgb(252, 252, 251);
    padding: 2%;
    border-radius: 50px;
}

.reduce-item-count{
    position: absolute;
    right: 14%;
    top:4rem;
    padding: 2%;
    color: rgb(247, 247, 243);
    border-radius: 50px;
}

.delete-item-button{
    position: absolute;
    right: 5%;
    top:0.2px;
    padding: 2%;
    color: rgb(247, 247, 243);
    font-size: 1rem;
    margin-bottom: 2px;
    border-radius: 50px;
}